
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 840px) {
  body, footer {
      max-width: 1500px;
      margin: 0 auto;
  }

  #topics ul{
    column-count: 2;
  }

  #submissions div{
    column-count: 2;
    
  }


 #facts {
    position: absolute;
    top: -200Px;
    right: 5%;
    
  }

  #welcome p {
    max-width: 60%;
  }
  
  #ticket_button{
    max-width: 60%
  }
}

@media (min-width: 650px) {

  #topics ul{
    column-count: 2;
  }

  #submissions section{
    column-count: 2;
    
  }

}


@media (max-width: 839px) {
  body, footer {
      max-width: 960px;
      margin: 0 auto;
  } 
}

@media (min-width: 722px){
  #program #sec_topic{
    column-count: 3;
    min-height: 570px;
    
  }
   
  #program .topic{
    min-height: 272px;
  }

  #program section{
    column-count: 3;
    background-image: url(./images/gradient_01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  #program .day{
    background: 0;
    min-height: 770px;
  }


}

@media(min-width: 500px) and (max-width: 721px){
  #program #sec_topic{
    column-count: 2;
  }

}
