html {
  font-family: sans-serif;
  font-size: 20px;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  max-width: 700px;
  margin: 20vw auto 5rem auto;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  background-image: url("background.png");
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

p {
  font-size: .75rem;
  line-height: 1rem;
}

main {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
}

main > h1 {
  line-height: 3rem;
}

em {
  font-style: normal;
  text-decoration: underline;
}

li {
  list-style: none;
  line-height: 2rem;
}
